.title {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0 20px;
}

.logo__img {
    height: 40px;
    width: 40px;
    display: block;
}

.nav__list {
    display: flex;
    gap: 20px;
    margin: 0;
    list-style: none;
    padding: 0
}

.nav__link {
    display: block;
    color: aliceblue;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    /* background-color: #444; */
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer {
    color: #fff;
    background-color: #444;
    text-align: center;
    line-height: 80px;
}